{% extends "WebaccessBugtrackerBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block description %}{{ parent() }}{% endblock %}

{% block bugtracker_body %}

	{% render "WebaccessBugtrackerBundle:Dashboard:menu" with {'route' : 'company'} %}

	<div id="dashboard" class="main-wrapper">
		<div class="header">
			<div class="title">
				<h1>Add a company</h1>
			</div>
			<div class="clear"></div>
		</div>

	    <form action="{{ path('webaccess_bugtracker_company_add') }}" method="post" {{ form_enctype(form) }}>
	        {{ form_widget(form) }}

	        <a href="{{ path('webaccess_bugtracker_company') }}" class="btn btn-warning">Go back</a>
	        <input type="submit" class="btn btn-warning" value="Save" />
	    </form>
	</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
