{% extends "WebaccessBugtrackerBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block description %}{{ parent() }}{% endblock %}

{% block bugtracker_body %}

	{% render "WebaccessBugtrackerBundle:Ticket:menu" with {'route' : 'company'} %}

	<div id="dashboard" class="main-wrapper">
		<div class="header">
			<div class="title">
				<h1>{{ 'company_edit.title' | trans }}</h1>
			</div>
			<div class="clear"></div>
		</div>

		<form action="{{ path('webaccess_bugtracker_company_edit', {'companyId':company.id}) }}" method="post" {{ form_enctype(form) }}>
			{{ form_row(form.name, { 'label' : 'company.name', 'attr': {'class': 'span6'} }) }}
	        {{ form_rest(form) }}
	        <a href="{{ path('webaccess_bugtracker_company') }}" class="btn btn-warning">{{ 'generic.cancel' | trans }}</a>
	        <input type="submit" class="btn btn-warning" value="{{ 'generic.save' | trans }}" />
		</form>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
