{% extends "WebaccessBugtrackerBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block description %}{{ parent() }}{% endblock %}

{% block bugtracker_body %}

	COMPANIES

	<a href="{{ path('webaccess_bugtracker_company_add') }}">add company</a>
	<a href="{{ path('webaccess_bugtracker_dashboard') }}">dashboard</a>
	<a href="{{ path('webaccess_bugtracker_logout') }}">logout</a>
	
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Creation date</th>
				<th>Name</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>

		{% if companies | length > 0 %}
			{% for company in companies %}
		        <tr>
		        	<td>{{ company.createdAt | date('d/m/y H:i') }}</td>
		        	<td>{{ company.name }}</td>
		        	<td>
						<a href="{{ path('webaccess_bugtracker_company_edit', {'company_id':company.id}) }}" title="Editer">Edit.</a>
						<a href="{{ path('webaccess_bugtracker_company_delete', {'company_id':company.id}) }}" title="Supprimer">Delete.</a>
					</td>
		        </tr>
		    {% endfor %}
		{% else %}
			No companies found.
		{% endif %}
		</tbody>
	</table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}