{% extends "WebaccessBugtrackerBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block description %}{{ parent() }}{% endblock %}

{% block bugtracker_body %}

	ADD PROJECT

	<form action="{{ path('webaccess_bugtracker_project_add') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}

	    <input type="submit" />
	</form>
	
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}