{% extends "WebaccessBugtrackerBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block description %}{{ parent() }}{% endblock %}

{% block bugtracker_body %}

	{% include 'WebaccessBugtrackerBundle:Includes:menu.html.twig' %}

	EDIT PROJECT

	<form action="{{ path('webaccess_bugtracker_project_edit', {'project_id':project.id}) }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}

	    <input type="submit" />
	</form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
