{% extends "WebaccessBugtrackerBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block description %}{{ parent() }}{% endblock %}

{% block bugtracker_body %}

	{% render "WebaccessBugtrackerBundle:Dashboard:menu" with { 'route' : 'project' } %}

	<div id="dashboard" class="main-wrapper">
		<div class="header">
			<div class="title">
				<h1>{{ 'project.title' | trans }}</h1>
			</div>
			<div class="button-add">
				<a class="btn btn-warning" href="{{ path('webaccess_bugtracker_project_add') }}">{{ 'project.add' | trans }}</a>
			</div>
			<div class="clear"></div>
		</div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>{{ 'generic.creation_date' | trans }}</th>
					<th>{{ 'project.name' | trans }}</th>
					<th>{{ 'project.company' | trans }}</th>
					<th>{{ 'generic.action' | trans }}</th>
				</tr>
			</thead>
			<tbody>

			{% if projects | length > 0 %}
				{% for project in projects %}
			        <tr>
			        	<td width="10%">{{ project.createdAt | date('d/m/y H:i') }}</td>
			        	<td>{{ project.name }}</td>
			        	<td>{{ project.company.name }}</td>
			        	<td class="action" width="6%">
							<a href="{{ path('webaccess_bugtracker_project_edit', {'project_id':project.id}) }}" title="{{ 'generic.edit' | trans }}">{{ 'generic.edit' | trans }}</a>
							<a href="{{ path('webaccess_bugtracker_project_delete', {'project_id':project.id}) }}" title="{{ 'generic.delete' | trans }}">{{ 'generic.delete' | trans }}</a>
						</td>
			        </tr>
			    {% endfor %}
			{% else %}
				<tr>
					<td colspan="4">
						{{ 'project.no_projects' | trans }}
					</td>
				</tr>
			{% endif %}
			</tbody>
		</table>
	</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
	    {% if(app.session.getFlash('project_added')) %}
	    	notification("{{ 'project.added' | trans }}");
	    {% elseif(app.session.getFlash('project_updated')) %}
	    	notification("{{ 'project.updated' | trans }}");
	    {% elseif(app.session.getFlash('project_deleted')) %}
	    	notification("{{ 'project.deleted' | trans }}");
	    {% endif %}
    </script>
{% endblock %}
