{% extends "WebaccessBugtrackerBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block description %}{{ parent() }}{% endblock %}

{% block bugtracker_body %}

	{% render "WebaccessBugtrackerBundle:Ticket:menu" with {'route' : 'user'} %}

	<div id="dashboard" class="main-wrapper">
		<div class="header">
			<div class="title">
				<h1>{{ 'user_edit.title' | trans }}</h1>
			</div>
			<div class="clear"></div>
		</div>

		<form action="{{ path('webaccess_bugtracker_user_edit', {'userId':user.id}) }}" method="post" {{ form_enctype(form) }}>
		    {{ form_row(form.username, { 'label' : 'user.username', 'attr': {'class': 'span6'} }) }}
		    {{ form_row(form.password, { 'label' : 'user.password', 'attr': {'class': 'span6'} }) }}
		    {{ form_row(form.firstName, { 'label' : 'user.first_name', 'attr': {'class': 'span6'} }) }}
		    {{ form_row(form.lastName, { 'label' : 'user.last_name', 'attr': {'class': 'span6'} }) }}
	        {{ form_row(form.company, { 'label' : 'user.company', 'attr': {'class': 'span6'} }) }}
	        {{ form_row(form.email, { 'label' : 'user.email', 'attr': {'class': 'span6'} }) }}
	        {{ form_rest(form) }}
	        <a href="{{ path('webaccess_bugtracker_user') }}" class="btn btn-warning">{{ 'generic.cancel' | trans }}</a>
	        <input type="submit" class="btn btn-warning" value="{{ 'generic.save' | trans }}" />
		</form>
	</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
