{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/webaccessbugtracker/css/grid.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/webaccessbugtracker/css/bootstrap.min.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/webaccessbugtracker/css/bootstrap-responsive.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/webaccessbugtracker/css/jquery.sticky.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/webaccessbugtracker/css/style.css') }}" />
{% endblock %}

{% block body %}
    <div class="container">
        {% block bugtracker_body %}
        
        {% endblock %}

        {% block bugtracker_footer %}
			<div class="footer">
				
			</div>
		{% endblock %}
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('bundles/webaccessbugtracker/js/jquery.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/webaccessbugtracker/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/webaccessbugtracker/js/jquery.sticky.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/webaccessbugtracker/js/notification.js') }}"></script>
{% endblock %}
