<div class="navbar">
	<div class="navbar-inner">

		<ul class="nav">
			<li{% if (route == 'ticket') %} class="active"{% endif %}><a href="{{ path('webaccess_bugtracker_ticket') }}">{{ 'menu.dashboard' | trans }}</a></li>
			{% if is_granted('ROLE_ADMIN') %}
				<li{% if (route == 'company') %} class="active"{% endif %}><a href="{{ path('webaccess_bugtracker_company') }}">{{ 'menu.companies' | trans }}</a></li>
				<li{% if (route == 'project') %} class="active"{% endif %}><a href="{{ path('webaccess_bugtracker_project') }}">{{ 'menu.projects' | trans }}</a></li>
				<li{% if (route == 'user') %} class="active"{% endif %}><a href="{{ path('webaccess_bugtracker_user') }}">{{ 'menu.users' | trans }}</a></li>
			{% endif %}
			<li><a href="{{ path('webaccess_bugtracker_logout') }}">{{ 'menu.logout' | trans }}</a></li>
		</ul>

		<div class="language_selector">
		    <a href="{{ path('webaccess_bugtracker_switch_language', {'lang' : 'fr'}) }}" {% if app.request.locale == 'fr' %}class="selected"{% endif %}>FR</a>
		    <a href="{{ path('webaccess_bugtracker_switch_language', {'lang' : 'en'}) }}" {% if app.request.locale == 'en' %}class="selected"{% endif %}>EN</a>
		</div>

		<div class="welcome">
			<div class="greetings">{% if app.user %}{{ 'menu.welcome' | trans }}, <span class="user">{{ app.user.firstName }}</span>{% endif %}</div>
		</div>
	</div>
</div>
