{% extends "WebaccessBugtrackerBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block description %}{{ parent() }}{% endblock %}

{% block bugtracker_body %}

	{% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('webaccess_bugtracker_login_check') }}" method="post" id="login">
        <input type="text" id="username" name="_username" placeholder="login" value="{{ last_username }}" />

        <input type="password" id="password" name="_password" placeholder="password" />

        <input type="checkbox" id="remember_me" name="_remember_me"/>remember me</label>

        <input type="hidden" name="_target_path" value="/dashboard" />

        <input type="submit" name="login" />
    </form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
