{% extends "WebaccessBugtrackerBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block description %}{{ parent() }}{% endblock %}

{% block bugtracker_body %}

	{% render "WebaccessBugtrackerBundle:Dashboard:menu" with {'route' : 'dashboard'} %}

	<div id="dashboard" class="main-wrapper">
		<div class="header">
			<div class="title">
				<h1>Add a ticket</h1>
			</div>
			<div class="clear"></div>
		</div>

		<form action="{{ path('webaccess_bugtracker_ticket_add') }}" method="post" {{ form_enctype(form) }}>
			{{ form_row(form.title) }}
		    {{ form_row(form.project) }}
		    {{ form_row(form.states.0.content) }}
		    <div style="display:none">{{ form_row(form.states.0.authorUser) }}</div>
		    {{ form_row(form.states.0.allocatedUser) }}
		    {{ form_row(form.states.0.type) }}
		    {{ form_row(form.states.0.status) }}
		    {{ form_row(form.states.0.priority) }}

		    {{ form_rest(form) }}

	        <a href="{{ path('webaccess_bugtracker_ticket') }}" class="btn btn-warning">Go back</a>
	        <input type="submit" class="btn btn-warning" value="Save" />
		</form>
	</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
