{% extends "WebaccessBugtrackerBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block description %}{{ parent() }}{% endblock %}

{% block bugtracker_body %}

	{% include 'WebaccessBugtrackerBundle:Includes:menu.html.twig' %}

	EDIT TICKET

	<form action="{{ path('webaccess_bugtracker_ticket_edit', {'ticket_id':ticket.id}) }}" method="post" {{ form_enctype(form) }}>
	    {{ form_row(form.title) }}
	    {{ form_row(form.project) }}

	    {% for state in form.states %}
	    	{% if not loop.last %}<div style="display:none">{% endif %}
			    {{ form_row(state.content ) }}
			    {{ form_row(state.authorUser) }}
			    {{ form_row(state.allocatedUser) }}
			    {{ form_row(state.type) }}
			    {{ form_row(state.status) }}
			    {{ form_row(state.priority) }}
			{% if not loop.last %}</div>{% endif %}
		{% endfor %}

		{{ form_rest(form) }}

	    <input type="submit" />
	</form>

	HISTORY

	{% for state in ticket.states %}
		{% if not loop.last %}
		<div>
			Comments : {{ state.content }}
			Type : {{ state.type }}
			Status : {{ state.status }}
			Priority : {{ state.priority }}
			Allocated user : {{ state.allocatedUser.firstName }} {{ state.allocatedUser.lastName }}
		</div>
		{% endif %}
	{% endfor %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
