{% extends "WebaccessBugtrackerBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block description %}{{ parent() }}{% endblock %}

{% block bugtracker_body %}

	{% render "WebaccessBugtrackerBundle:Ticket:menu" with { 'route' : 'ticket' } %}

	<div id="dashboard" class="main-wrapper">
		<div class="header">
			<div class="title">
				<h1>{{ 'dashboard.title' | trans }}</h1>
			</div>

			<div class="ticket-filter-selector">
				<form id="ticket-filter" action="{{ path('webaccess_bugtracker_ticket') }}" method="post" {{ form_enctype(formTicketFilter) }}>
					<div>
						{{ form_widget(formTicketFilter.project) }}
						{{ form_widget(formTicketFilter.user) }}
						{{ form_widget(formTicketFilter.type) }}
						{{ form_widget(formTicketFilter.status) }}
						{{ form_widget(formTicketFilter.priority) }}
					</div>
					{{ form_rest(formTicketFilter) }}
					<div>
						<input type="submit" class="btn btn-warning" value="OK" />
					</div>
				</form>
			</div>

			<div class="button-add">
				<a class="btn btn-warning" href="{{ path('webaccess_bugtracker_ticket_add') }}">{{ 'dashboard.add' | trans }}</a>
			</div>
			<div class="clear"></div>
		</div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>{{ 'generic.creation_date' | trans }}</th>
					<th>{{ 'generic.update_date' | trans }}</th>
					<th>{{ 'ticket.title' | trans }}</th>
					<th>{{ 'ticket.project' | trans }}</th>
					<th>{{ 'ticket.author' | trans }}</th>
					<th>{{ 'ticket.allocated_to' | trans }}</th>
					<th>{{ 'ticket.type' | trans }}</th>
					<th>{{ 'ticket.status' | trans }}</th>
					<th>{{ 'ticket.priority' | trans }}</th>
					<th>{{ 'generic.action' | trans }}</th>
				</tr>
			</thead>
			<tbody>

			{% if tickets | length > 0 %}
				{% for ticket in tickets %}
			        <tr class="status-{{ ticket.currentState.status }}">
			        	<td width="10%">{{ ticket.states[0].createdAt | date('d/m/y H:i') }}</td>
			        	<td width="10%">{{ ticket.currentState.createdAt | date('d/m/y H:i') }}</td>
			        	<td>{{ ticket.title }}</td>
			        	<td>{{ ticket.project.name }}</td>
			        	<td>{{ ticket.currentState.authorUser.firstName }} {{ ticket.currentState.authorUser.lastName | truncate(1, false, '.') }}</td>
			        	<td>{{ ticket.currentState.allocatedUser.firstName }} {{ ticket.currentState.allocatedUser.lastName | truncate(1, false, '.') }}</td>
			        	<td>{{ ('ticket_state.type.' ~ ticket.currentState.type) | trans }}</td>
			        	<td>{{ ('ticket_state.status.' ~ ticket.currentState.status) | trans }}</td>
			        	<td class="center" width="6%"><span class="label priority-{{ ticket.currentState.priority }}">{{ ('ticket_state.priority.' ~ ticket.currentState.priority) | trans }}</span></td>
			        	<td class="action" width="6%">
							<a href="{{ path('webaccess_bugtracker_ticket_edit', {'ticket_id':ticket.id}) }}" title="{{ 'generic.edit' | trans }}">{{ 'generic.edit' | trans }}</a>
							<a href="{{ path('webaccess_bugtracker_ticket_delete', {'ticket_id':ticket.id}) }}" title="{{ 'generic.delete' | trans }}">{{ 'generic.delete' | trans }}</a>
						</td>
			        </tr>
			    {% endfor %}
			{% else %}
				<tr>
					<td colspan="10">{{ 'dashboard.no_tickets' | trans }}</td>
				</tr>
			{% endif %}
			</tbody>
		</table>
	</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
	    {% if(app.session.getFlash('ticket_added')) %}
	    	notification("{{ 'ticket.added' | trans }}");
	    {% elseif(app.session.getFlash('ticket_updated')) %}
	    	notification("{{ 'ticket.updated' | trans }}");
	    {% elseif(app.session.getFlash('ticket_deleted')) %}
	    	notification("{{ 'ticket.deleted' | trans }}");
	    {% endif %}
    </script>
{% endblock %}
