{% extends "WebaccessBugtrackerBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block description %}{{ parent() }}{% endblock %}

{% block bugtracker_body %}

	{% include 'WebaccessBugtrackerBundle:Includes:menu.html.twig' %}

	PROJECTS

	<a href="{{ path('webaccess_bugtracker_ticket_add') }}">add ticket</a>

	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Creation date</th>
				<th>Name</th>
				<th>Company</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>

		{% if tickets | length > 0 %}
			{% for ticket in tickets %}
		        <tr>
		        	<td>{{ ticket.createdAt | date('d/m/y H:i') }}</td>
		        	<td>{{ ticket.name }}</td>
		        	<td>{{ ticket.company.name }}</td>
		        	<td>
						<a href="{{ path('webaccess_bugtracker_ticket_edit', {'ticket_id':ticket.id}) }}" title="Editer">Edit.</a>
						<a href="{{ path('webaccess_bugtracker_ticket_delete', {'ticket_id':ticket.id}) }}" title="Supprimer">Delete.</a>
					</td>
		        </tr>
		    {% endfor %}
		{% else %}
			No tickets found.
		{% endif %}
		</tbody>
	</table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
