{% extends "WebaccessBugtrackerBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block description %}{{ parent() }}{% endblock %}

{% block bugtracker_body %}

	{{ render(controller( 'WebaccessBugtrackerBundle:Ticket:menu', { 'route': 'ticket' } )) }}
	
	<div id="dashboard" class="main-wrapper">
		<div class="header">
			<div class="title">
				<h1>{{ 'ticket.view.title' | trans }}</h1>
			</div>
			<div class="clear"></div>
		</div>
		<div class="row-fluid">
			<div class="span2">
				<ul>
					<li>{{ 'ticket.project' | trans }} : {{ticket.project.name}}</li>
					<li>{{ 'ticket.type' | trans }} : {{('ticket_state.type.' ~ ticket.currentState.type) | trans}}</li>
					<li>{{ 'ticket.status' | trans }} : {{('ticket_state.status.' ~ ticket.currentState.status) | trans}}</li>
					<li>{{ 'ticket_array.closed' | trans }} : {{('ticket_state.closed.' ~ ticket.currentState.closed) | trans}}</li>
					<li>{{ 'ticket.allocated_to' | trans }} : {{ ticket.currentState.allocatedUser }}</li>
					<li>{{ 'ticket.author' | trans }} : {{ ticket.currentState.authorUser }}</li>
					<li>
						{% if is_granted('ROLE_ADMIN') %}
							<a class="btn" href="{{ path('webaccess_bugtracker_ticket_edit', {'ticketId':ticket.id}) }}" title="{{ 'ticket.edit' | trans }}">Modifier le ticket</a>
						{% endif %}
					</li>
				</ul>
			</div>
			<div class="span10">
				<h2>{{ ticket.title }}</h2>
				<div id="ticket-content">{{ ticket.content }}</div>
				<div id="ticket-files">{{ ticket.files }}</div>
				<h2>{{ 'ticket.edit.history' | trans }}</h2>
				<table class="table table-bordered" style="border-collapse: collapse;">
					<thead>
						<tr>
							<th>{{ 'generic.modification_date' | trans }}</th>
							<th>{{ 'ticket.author' | trans }}</th>
							<th>{{ 'ticket.allocated_to' | trans }}</th>
							<th>{{ 'ticket.type' | trans }}</th>
							<th>{{ 'ticket.status' | trans }}</th>
							<th>{{ 'ticket.priority' | trans }}</th>
							<th>{{ 'ticket.closed' | trans }}</th>
						</tr>
					</thead>
					<tbody>
					{% for i in ticket.states | length - 1 .. 0 %}
						{% set state = ticket.states[i] %}
						<tr class="status-{{ state.status }}">
							<td width="11%">{{ state.createdAt | date('d/m/y H:i') }} {% if prev_state is defined %}DEFINED{% endif %}</td>
							<td>{% if prev_state is defined	and prev_state.authorUser == state.authorUser %}--{% else %}{{ state.authorUser }}{% endif %}</td>
							<td>{{ state.allocatedUser }}</td>
							<td>{{ ('ticket_state.type.' ~ state.type) | trans }}</td>
							<td>{{ ('ticket_state.status.' ~ state.status) | trans }}</td>
							<td width="6%" class="center"><span class="label priority-{{ state.priority }}">{{ ('ticket_state.priority.' ~ state.priority) | trans }}</span></td>
							<td width="6%" class="center"><span class="label closed-{{ state.closed }}">{{ ('ticket_state.closed.' ~ state.closed) | trans }}</span></td>
						</tr>
 						{% if state.content %}
						<tr>
							<td></td>
							<td colspan="6">{{ state.content }}</td>
								</tr>
						{% endif %}
						{% set prev_state = state %}
 					{% endfor %}
 						<tr>
							<td>
								{{ "now" | date('d/m/y H:i') }}
								<form action="{{ path('webaccess_bugtracker_ticket_addstate', {'ticketId':ticket.id}) }}" method="post" {{ form_enctype(form) }}>
							</td>
							<td>
								{{ form_row(form.authorUser, { 'label' : '', 'attr': {'class': 'span8'} }) }}
							</td>
							<td>
								{{ form_row(form.allocatedUser, { 'label' : 'ticket.allocated_to', 'attr': {'class': 'span8'} }) }}
							</td>
							<td>
								{{ form_row(form.type, { 'label' : 'ticket.type', 'attr': {'class': 'span6'} }) }}
							</td>
							<td>
								{{ form_row(form.status, { 'label' : 'ticket.status', 'attr': {'class': 'span6'} }) }}
							</td>
							<td>
								{{ form_row(form.priority, { 'label' : 'ticket.priority', 'attr': {'class': 'span6'} }) }}
							</td>
							<td>
								{{ form_row(form.closed, { 'label' : 'ticket.closed', 'attr': {'class': 'span6'} }) }}
							</td>
						</tr>
						<tr>
							<td></td>
							<td colspan="6">
								{{ form_row(form.content, { 'label' : 'ticket.content', 'attr': {'class': 'span12'} }) }}<br/>
								<input type="submit" class="btn btn-warning" value="{{ 'generic.save' | trans }}" />
								<a href="{{ path('webaccess_bugtracker_ticket') }}" class="btn btn-warning">{{ 'generic.cancel' | trans }}</a>
							</td>
						</tr>	
					</tbody>
				</table>
			</div><!-- span10 -->
		</div><!-- row fluid -->
	</div><!-- main wrapper -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
